.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alertbox{
  background: #fff;
  padding: 20px 30px;
  border-radius: 5px;

  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  font-family: "Roboto", sans-serif;
}

.alertbox p{
  margin-bottom: 1rem;
  font-size: 15px;
}

.alertbox button{
  background: red;
  color: white;
  padding: 6px 16px;
  border: none;

  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
